<?xml version="1.0" encoding="utf-8"?>

<configuration>
<packageSources>
    <clear />
    <!-- <add key="local" value="artifacts" /> -->
    <add key="maui-nighly" value="https://pkgs.dev.azure.com/xamarin/public/_packaging/maui-nightly/nuget/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>